:root {
  --color-white: #ffffff;
  --color-blue: #2f80ed;
  --color-secondary: #303338;
  --color-inactive: rgba(255, 255, 255, 0.5);
}

.f-18 {
  font-size: 18px;
  line-height: 25px;
}

.f-24 {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.02em;
}

.f-48 {
  font-size: 48px;
  line-height: 56px;
}

.f-64 {
  font-size: 64px;
  line-height: 75px;
}

.f-blue {
  color: var(--color-blue);
}

.fw-325 {
  font-weight: 325;
}

.minh-100 {
  min-height: 100%;
  height: auto;
}

body {
  background: #1d1d1d;
  font-family: Gotham, Raleway, sans-serif;
  color: var(--color-white);
}

::-moz-selection {
  background: rgba(255, 255, 255, 0.9);
  color: var(--color-secondary);
}

::selection {
  background: rgba(255, 255, 255, 0.9);
  color: var(--color-secondary);
}

.icon {
  color: var(--color-white);
  font-size: 2rem;
  margin-right: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: none;
}

.icon:hover {
  color: #eeeeee;
  text-decoration: none;
}

#mouseindicator {
  mix-blend-mode: difference;
  pointer-events: none;
}

#mouseindicator::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: -250%;
  left: -250%;
  width: 600%;
  height: 600%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

#mouseindicator.hovering {
  mix-blend-mode: normal !important;
}

#mouseindicator.hovering::before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

a {
  text-decoration: none;
  position: relative;
}

a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

a:hover {
  text-decoration: none;
}

.side-nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--color-inactive);
}

.side-nav-link.active {
  color: var(--color-blue);
}

.side-nav-link .side-nav-link__num {
  width: 24px;
  display: inline-block;
}

.side-nav-link__divider {
  background-color: var(--color-inactive);
  height: 1.5px;
  width: 110px;
  position: relative;
}

.active .side-nav-link__divider {
  background-color: var(--color-blue);
}

.side-nav-link__divider::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-blue);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  transform-origin: right;
  -webkit-transition: -webkit-transform 0.35s ease;
  transition: -webkit-transform 0.35s ease;
  transition: transform 0.35s ease;
  transition: transform 0.35s ease, -webkit-transform 0.35s ease;
}

.side-nav-link:hover .side-nav-link__divider::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left;
  transform-origin: left;
}

.side-nav-link:hover {
  color: var(--color-blue);
  -webkit-transition: color 0.35s ease;
  transition: color 0.35s ease;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
/*# sourceMappingURL=style.css.map */
